.form{
   margin: 0 auto;
   margin-top: 30px;
   max-width: 300px;
   width: 100%;

   .avatar{

      input {
      }
   }
}


  .modal{
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background-color: rgba(0, 0, 0, 0.25);
   position: absolute;
   z-index: 10;
   .result{
      width: 250px;
      background-color: #F7F8FC;
      text-align: center;
      padding: 15px;
      border-radius: 8px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      }
  }
