.taskItem{
   padding: 11px 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;

   span{
      font-size: 14px;
      font-weight: 600;
      padding: 0;
      margin-right: 10px;
      letter-spacing: normal;
   }

   .taskItemStatusNew{
      color: #fff;
      background-color: #29CC97;
      padding: 5px 12px;
      border-radius: 8px;
      text-transform: uppercase;
   }
   .taskItemStatusDefault{
      color: #9FA2B4;
      background-color: #F0F1F7;
      padding: 5px 12px;
      border-radius: 8px;
      text-transform: uppercase;
   }
   &:not(:last-child){
      border-bottom: 1px solid #DFE0EB;
   }
}

