.graphInfo {
   padding: 28px;

   border-bottom: 1px solid #DFE0EB;
   text-align: center;

   .graphInfoTitle {
      font-size: 16px;
      font-weight: 600;
      color: #9FA2B4;
   }

   .graphInfoDescriprion {
      font-size: 24px;
      font-weight: 700;
      color: #252733;
   }
}