.logo {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   font-size: 22px;
   font-weight: 700;
   letter-spacing: 1.5px;
   color: #A4A6B3;
   padding: 21px;

   .circle {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #3751FF;
      display: flex;
      align-items: center;
      justify-content: center;

      .square {
         width: 12px;
         height: 14px;
         background: linear-gradient(143.7deg, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 100%);
         border-top-right-radius: 50%;
         border-bottom-right-radius: 50%;
      }
   }
}