.dropDown{
   padding: 15px;
   display: flex;
   gap: 10px;
   button{
      background-color: #fff;
      display: flex;
      align-items: center;
      cursor: pointer;
      svg{
         width: 15px;
         height: 15px;
      }
   }
   .plug{
      width: 15px;
   }
}