.App {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}



.sidebar {
  width: 18%;  
  background-color: #363740;
  color: #A4A6B3;
  padding: 25px 0;
}

.content {
  width: 82%;
  padding: 35px;
  background: #F7F8FC;
}

.error {
  color: #c10000;
  text-transform: none;
  margin-bottom: 10px;
}