.footer{
   display: flex;
   flex-direction: column;
   .btn-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;


      .btn-footer{
         background-color: #fff;
         border: none;
         color: #3751FF;
         font-size: 14px;
         font-weight: 600;
         cursor: pointer;

      }
   }
   
}