.auth {
   background-color: #363740;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.auth-box {
   max-width: 380px;
   width: 100%;
   background-color: #fff;
   border-radius: 8px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 32px;
   color: #9FA2B4;
   
   a{
      color: #3751FF;
      display: block;
      text-align: center;
   }
}

.footer {
   margin-top: 30px;
   display: flex;
   gap: 10px;
   justify-content: center;

   .reg-link {
      color: #3751FF;
      font-weight: 600;
      letter-spacing: 1px;
   }
}

.title {
   text-align: center;
   margin-top: 30px;
   margin-bottom: 30px;

   h2 {
      font-size: 24px;
      color: #000;
      font-weight: 700;
      margin-bottom: 12px;
   }
}

