.sidebar {
   width: 18%;
   height: 100vh;
   background-color: #363740;
   color: #A4A6B3;
   padding: 25px;

   .logo {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 19px;
      font-weight: 700;
      letter-spacing: 1.5px;

   };

   .circle {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #3751FF;
      display: flex;
      align-items: center;
      justify-content: center;

      .square {
         width: 12px;
         height: 14px;
         background: linear-gradient(143.7deg, rgba(255, 255, 255, 0.7) 0%, #FFFFFF 100%);
         border-top-right-radius: 50%;
         border-bottom-right-radius: 50%;
      };
   };

   .sidebar-content {
      margin-top: 60px;

      li {
         padding: 20px 32px;
      };
   };
};

.active{
   color: red; 
}